/PetMedicalCareV1/SoftPetDBManager/target/
/PetMedicalCareV1/SoftPetDBManager/nbproject/
/PetMedicalCareV1/SoftPetModel/target/
/PetMedicalCareV1/SoftPetPersistance/target/
/Backups/BackupAdri/SoftPetDBManager/target/
/Backups/BackupAdri/SoftPetModel/target/
