/* ESTILOS MODAL ÉXITO (Check Verde Animado) */
.swal2-icon {
    width: 5em;
    height: 5em;
    border-width: .25em;
    border-style: solid;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    box-sizing: content-box;
    border-color: #a5dc86;
}

    .swal2-icon.swal2-success .swal2-success-ring {
        position: absolute;
        z-index: 2;
        top: -.25em;
        left: -.25em;
        box-sizing: content-box;
        width: 100%;
        height: 100%;
        border: .25em solid rgba(165,220,134,.3);
        border-radius: 50%;
    }

    .swal2-icon.swal2-success .swal2-success-line-tip {
        top: 2.875em;
        left: .8125em;
        width: 1.5625em;
        transform: rotate(45deg);
    }

    .swal2-icon.swal2-success .swal2-success-line-long {
        top: 2.375em;
        right: .5em;
        width: 2.9375em;
        transform: rotate(-45deg);
    }

    .swal2-icon.swal2-success [class^=swal2-success-line] {
        display: block;
        position: absolute;
        z-index: 2;
        height: .3125em;
        border-radius: .125em;
        background-color: #a5dc86;
    }

.swal2-animate-success-icon {
    animation: swal2-animate-success-icon .5s;
}

@keyframes swal2-animate-success-icon {
    0% {
        transform: rotateX(100deg);
        opacity: 0;
    }

    100% {
        transform: rotateX(0);
        opacity: 1;
    }
}
